<div th:fragment="header" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <div class="top">
        <div class="header">
            <h1>TRAINING DAY - your personal trainer</h1>
        </div>
        <div class="navigation">
            <div class="sidebar">
                <ul>
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/catalog}">Catalog</a></li>
                    <li><a th:href="@{/suggest-program}">Suggest new program</a></li>
                    <li><a sec:authorize="hasAuthority('write')" th:href="@{/verify}">Verify</a></li>
                    <li><a sec:authorize="hasAuthority('write')" th:href="@{/add-program}">Add program</a></li>
                    <li><a th:if="!${#request.userPrincipal}" th:href="@{/auth/register}"><img
                            th:src="@{/img/img_235476.png}" alt="Sign in" class="sign"></a></li>
                    <li><a sec:authorize="hasAuthority('read')" th:href="@{/logout}"><img
                            th:src="@{/img/img_235476.png}" alt="Sign in" class="sign"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="space"></div>
</div>