<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration|Training day</title>
    <link rel="stylesheet" th:href="@{/css/sign.css}">
</head>
<body>
<form method="post" class="form-signin" th:action="@{/auth/register}" th:object="${user}">
    <h2 class="form-signin-heading">Registration</h2>
    <input type="text" class="form-control up-margin" th:field="*{nickname}" placeholder="Nickname" required>
    <input type="number" class="form-control up-margin" th:field="*{age}" placeholder="Age" required>
    <input type="email" class="form-control up-margin" th:field="*{login}" placeholder="Login" required>
    <input type="password" class="form-control up-margin" th:field="*{password}" placeholder="Password" required>
    <input type="password" class="form-control up-margin" placeholder="Retype password">
    <button type="submit" class="btn button up-margin">Register</button>
    <a class="reg" th:href="@{/auth/login}">Login</a>
</form>
</body>
</html>
