<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Verify programs|Training day</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="wrapper">
    <div th:insert="fragments/header.html::header"></div>

    <h2>Catalog of all programs</h2>
    <hr>
    <div class="padding">
        <table class="table">
            <thead>
            <th>Name</th>
            <th>Duration</th>
            <th>Muscle group</th>
            <th>Details</th>
            <th>Decision</th>
            </thead>
            <tbody>
            <div th:each="program:${programs}">
                <tr>
                    <td th:text="${program.name}"/>
                    <td th:text="${program.duration}"/>
                    <td th:text="${program.group}"/>
                    <td th:text="${program.description}"/>
                    <td>
                        <p>
                            <button class="button edit"><a th:href="'/catalog/'+${program.id}+'/accept'">Accept</a>
                            </button>
                        </p>
                        <p>
                            <button class="change"><a th:href="'/catalog/'+${program.id}+'/edit'">Edit</a></button>
                        </p>
                        <form method="post" th:action="'/catalog/'+${program.id}+'/remove'">
                            <p>
                                <button class="button remove" type="submit">Deny</button>
                            </p>
                        </form>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
    <div class="after-table"></div>
</div>
<div th:insert="fragments/footer.html::footer"></div>
</body>
</html>
